html, body {
  height: 100%;
  width: 100%;
}

.map-view {
  width: 100%;
  height: 100%;
}

.angular-google-map {
  height: 100%;
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
}

.overlay-controls {
  display: inline;
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 20px;
}

.btn-floating {
  margin-left:auto;
  margin-right: auto;
  display: block;
  width: 45px;
  height: 45px;
  position: relative;
  left: 25%;
  background-color: #009688;
}

.btn-floating i {
  line-height: 45px;
}

.row {
  margin-bottom: 5px;
}

/* Use when the overlay controls get in the way */
.raiseToTop {
  z-index: 2;
  position: relative; /* In order for z-index to to take affect the element needs to have it's position property explicitly declared */
}

.selectorMarker i {
  font-size: 60px;
}

.addToiletForm {
  position: absolute;
  z-index: 2;
  width: 25%;
  background-color: white;
  height: 100%;
  padding: 10px;
  opacity: 0.9;
}
