<ui-gmap-marker idkey=0 coords='center' options='toiletOptions'></ui-gmap-marker>
<!-- <form ng-submit="addToilet()" class="raiseToTop" >
    <p class="range-field col s8 l6">
      <label>Cleanliness</label>
      <input type="range" ng-model="toilet.ratings.cleanliness" min="1" max="5" />
    </p>
    <p class="range-field col s8 l6">
      <label>Privacy</label>
      <input type="range" ng-model="toilet.ratings.privacy" min="1" max="5" />
    </p>
    <p class="range-field col s8 l6">
      <label>Accessability</label>
      <input type="range" ng-model="toilet.ratings.accessability" min="1" max="5" />
    </p>
    <p class="range-field col s8 l6">
      <label>Family Friendliness</label>
      <input type="range" ng-model="toilet.ratings.fFriendliness" min="1" max="5" />
    </p>
    <p class="range-field col s8 l6">
      <label>Ambiance</label>
      <input type="range" ng-model="toilet.ratings.ambiance" min="1" max="5" />
    </p>
    <p class="col s8 l6" style="padding-left: 10px;">
      <input id="free" type="checkbox" ng-model="toilet.ratings.free" />
      <label for="free">Free</label>
    </p>
    <input type="submit" value="Add Toilet" />
</form> -->
